{% extends 'render/index.html' %}
{% load staticfiles %}

{% block content %}
<!-- <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script> -->
<form action="" method="post">
{% csrf_token %}
<div class="mdl-grid">
  <div class="render-f mdl-cell mdl-cell--4-col" style="text-align:center;margin:3;">
  <h5>String to render with Ninja</h5>{{ form.string_to_render.errors }}
    <!-- add content here -->{{ form.string_to_render }}
  </div>
  <div class="render-f mdl-cell mdl-cell--4-col" style="text-align:center;margin:3;">
  <h5>Map to render string with</h5>{% if form.errors %}<br><br>{% endif %}
    <!-- also here -->{{ form.map_to_render_with }}
  </div>
  <div class="render-f mdl-cell mdl-cell--4-col" style="text-align:center;margin:3;">
  <h5>Output</h5> {% if form.errors %}<br><br>{% endif %}
    <!-- and probably also here -->{{ form.rendered_output }}
  </div>
</div>
        <select name="choices">
            <option value="JSON">JSON</option>
            <option value="XML">XML</option>
            <option value="other">Other</option>
        </select>
<input type="submit" value="Submit"/>
</form>
{% endblock %}